@use "variables" as var;

.header-container {
  background: url("./../images/Forest.png");
  background-size: cover;
  background-position: center;

  // min-height: 300px;
  width: 100vw;
  height: 60vh;
  // max-height: 800px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.header-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var.$yellow;
  height: 12rem;
  width: 80%;
  border-radius: 50%;
}

.header-title {
  font-family: var.$architect;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: var.$blue;

  height: 100px;
  width: 100px;

  letter-spacing: 6px;
  text-shadow: var.$silver-shadow;
}
