$blue: #0d6efd;
$blue-rgba: rgba(13, 110, 253, 0.7);

$green: #00c853;

$yellow: yellow;
$yellow-rgba: rgba(255, 255, 0, 0.95);

$silver-shadow: -0.1em 0.1em 0.1em silver;

$circle-img: "./../images/circles1.jpg";

$architect: "Architects Daughter", cursive;
$amantic: "Amatic SC", cursive;
