@use "variables" as var;

.word-of-the-day-container {
  display: flex;
  // flex-direction: column;

  justify-content: center;
  align-items: center;

  background: linear-gradient(var.$blue-rgba, var.$blue-rgba), url("./../images/people_park.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  width: 100vw;
  height: 100vh;
  padding: 20px 25px;
  // min-height: 700px;
  // height: 900px;
}

// .word-of-day-wrapper {
//   display: flex;
//   //   padding: 80px 85px;
//   width: 100%;
//   justify-content: space-around;
//   align-items: center;
//   height: 100%;
// }

.word-of-day-image-wrapper {
  //   height: 400px;
  // width: 35vw;
  width: 100%;
  // transform: translateY(20%);

  display: none;
}

.word-of-day-image {
  width: 100%;
  border-radius: 20%;
}

.word-of-day-title-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-around;

  height: 100%;
  max-height: 500px;
  // width: 35vw;
  width: 100%;
  padding: 20px;
  // transform: translateY(-15%);

  border: 1px solid var.$yellow;
  border-radius: 5%;

  color: var.$blue;
  font-family: var.$architect;
  letter-spacing: 3px;

  background: linear-gradient(var.$yellow-rgba, var.$yellow-rgba), url(var.$circle-img);
}

.word-of-day-title {
  font-size: 1.5rem;
  text-shadow: var.$silver-shadow;
}

.word-of-day {
  font-family: var.$architect;
  color: var.$green;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 4px;
  text-shadow: var.$silver-shadow;
}

.word-of-day-translation-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // height: 100%;
  width: 100%;
  padding: 20px;
  transform: scale(0.8);
}

.translation-title {
  font-family: var.$architect;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.insert-btn-word-day {
  border-radius: 20%;
  background-color: var.$green !important ;
  border-color: var.$green;
  color: white;
  margin-right: 30px;
  margin-top: 15px;
  margin-left: 1em;

  font-size: 1.2rem;
}

.translation-btn {
  // transform: scale(1.5);
}

@keyframes growAndShrink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5) translateY(10px);
  }
}

.word-of-day-translation.grow {
  animation: growAndShrink 0.7s linear 2 alternate;
}

//
// BREAKPOINT 400px
//

@media screen and (min-width: 400px) {
  .word-of-day-title {
    font-size: 2rem;
  }

  .word-of-day {
    font-size: 2.5rem;
  }

  .translation-title {
    font-size: 2rem;
  }

  .translation-btn {
    transform: scale(1.2);
  }
}

//
// BREAKPOINT 550px
//

@media screen and (min-width: 550px) {
  .word-of-the-day-container {
    padding: 5vh 10vw;
  }

  .word-of-day-title-wrapper {
    max-width: 600px;
  }

  .word-of-day-title {
    font-size: 2.5rem;
  }

  .word-of-day {
    font-size: 3rem;
  }

  .translation-title {
    font-size: 2.5rem;
  }

  .translation-btn {
    transform: scale(1.5);
  }
}

//
// BREAKPOINT 800px
//

@media screen and (min-width: 800px) {
  .word-of-the-day-container {
    justify-content: space-around;
    padding: 20px 25px;
    max-height: 700px;
  }

  .word-of-day-image-wrapper {
    display: unset;
    // height: 400px;
    width: 35vw;
    float: left;
    // transform: translateX(-75%);

    transform: scale(1.3);
  }

  .word-of-day-title-wrapper {
    width: 35vw;
    // transform: translateX(75%);
    // transform: translateY(15%);
  }

  .word-of-day {
    font-size: 2.2rem;
  }

  .translation-btn {
    transform: scale(1);
    margin: 15px 0 0;
  }
}
