@use "../variables" as var;
@use "form";
@use "words";
@use "modal";
@use "vocab_list";
@use "word_tile";

// REVIEW
.review-container {
  font-family: var.$architect;
  background-color: var.$green;
  display: flex;
  flex-direction: column;
}

// .review-header-container {
//   padding-top: min(5vh, 30px);
//   padding-bottom: 5vh;
//   max-height: 800px;
// }

.review-header-wrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  // margin: 10vh 0;
  // max-height: 800px;
  height: 100vh;
  min-height: 600px;

  padding: 5vh 5vw;

  // padding-top: 10%;
}

//
// REVIEW TITLE
//

.review-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  background: linear-gradient(var.$yellow-rgba, var.$yellow-rgba), url(var.$circle-img);
  border-radius: 10%;

  width: 100%;
  // width: 30vw;
  color: var.$blue;
  padding: 40px;
  // Flip Background Upside Down
  // transform: scaleX(-1) translateY(-15%);
  transform: scaleX(-1);
}

// Then flip all CHILDREN ELEMENTS back
.review-title-wrapper * {
  transform: scaleX(-1);
}

.review-title {
  color: var.$blue;
  font-size: 1.5rem;
  // font-size: 4rem;
  letter-spacing: 4px;
  text-align: center;
  text-shadow: var.$silver-shadow;
}

.review-subtitle {
  color: var.$green;
  font-family: var.$architect;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-size: 1.2rem;
  text-shadow: var.$silver-shadow;
}

//
// REVIEW IMAGE FOR HEADER
//
.review-image-wrapper {
  width: 100%;
  // width: 40vw;
  // min-height: 500px;
  height: min(40vh, 500px);

  background:
      // var.$blue,
    linear-gradient(rgba(13, 110, 253, 0.1), rgba(13, 110, 253, 0.1)),
    url("./../images/man_woman_talking.jpg");
  background-size: cover;
  background-position: center;

  border-radius: 20%;
  border: 3px solid white;

  // transform: translateY(15%);
}

//
// BREAKPOINT 400px
//

@media screen and (min-width: 400px) {
  .review-header-wrapper {
    padding: 5vh 8vw;
  }

  .review-image-wrapper {
    height: 50%;
    margin-bottom: 5vh;
  }

  .review-title-wrapper {
    height: 40%;
  }

  .review-title {
    font-size: 2rem;
  }
}

//
// BREAKPOINT 650px
//

@media screen and (min-width: 650px) {
  .review-title {
    font-size: 2.5rem;
  }
}
//
// BREAKPOINT 800px
//

@media screen and (min-width: 800px) {
  .review-header-wrapper {
    flex-direction: row;
    min-height: 400px;
    padding: 5vh 2vw;
    max-height: 650px;
  }

  .review-title-wrapper {
    width: 40vw;
    height: 80%;
    min-height: 330px;
    max-height: 600px;

    margin-top: auto;
  }

  .review-title {
    font-size: 3rem;
  }

  .review-subtitle {
    font-size: 2rem;
  }

  .review-image-wrapper {
    width: 40vw;
    height: 90%;
    max-height: 40vw;

    margin-bottom: auto;
  }
}

//
//  BREAKPOINT 1200px
//

@media screen and (min-width: 1200px) {
  .review-header-wrapper {
    max-height: 800px;
  }
}
