@use "../variables" as var;

//
// WORD TILE AND BUTTONS
//

.word-tiles-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  //   margin-left: 10vw;
  margin: 10px 0px;
  padding: 5vh 0;
  //   max-height: 800px;
}

.word-tiles-header {
  color: var.$blue;

  letter-spacing: 4px;
  text-align: center;
  text-shadow: var.$silver-shadow;
}

.word-tiles-title {
  font-size: 3rem;
}

//
// WORD TILE
//

.word-tile-wrapper {
  display: flex;
  //   height: 700px;
  justify-content: center;
  align-items: center;
}

.word-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  //   width: 30vw;
  width: 70%;
  width: 65vw;
  //   height: 500px;
  height: 60vh;
  min-height: 310px;
  max-height: 525px;

  margin: 5vh 5px;
  padding: 20px 20px;

  border: solid;
  border-width: 3px;
  border-color: greenyellow;
  border-radius: 20%;

  background: linear-gradient(var.$blue-rgba, var.$blue-rgba), url(var.$circle-img);
}

.word-tile-expression {
  margin-right: 20%;

  font-size: 2.5rem;
  color: var.$yellow;
  text-shadow: -0.05em 0.05em 0.05em black;
  text-transform: capitalize;
}

.word-tile-img-wrapper {
  //   width: 80%;
  //   height: 30%;
  width: 120px;
  height: 120px;
  margin-bottom: 30px;
}

.expression-image {
  width: 100%;
  height: 100%;
  border-radius: 25%;
  object-fit: cover;
  object-position: center;
}
.word-tile-current-translation {
  color: yellow;
  text-transform: capitalize;
  width: 80%;
  height: 20%;
  text-align: center;
}

.btn-current-translation {
  background-color: var.$green !important;
  // width: 80% !important;
  // height: 20% !important;
}

//
// ANIMATIONS FOR WORD TILES
//

.word-tile-enter {
  opacity: 0.01;
}

.word-tile-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.word-tile-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.word-tile-current-translation-enter {
  opacity: 0;
  transform: scale(0.9);
}

.word-tile-current-translation-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

//
// BREAKPOINT 450px
//

@media screen and (min-width: 450px) {
  .word-tile-expression {
    font-size: 3rem;
  }

  .word-tile-img-wrapper {
    width: 150px;
    height: 150px;
  }

  .word-tile {
    margin: 5vh 5vw;
    max-width: 335px;
  }
}

//
// BREAKPOINT 600px
//

@media screen and (min-width: 600px) {
  .word-tile-wrapper {
    .words-menu-btn {
      transform: scale(1.5);
    }
  }
}

//
// BREAKPOINT 800px
//

@media screen and (min-width: 800px) {
  .word-tile-expression {
    font-size: 4rem;
  }

  .word-tile-img-wrapper {
    width: 170px;
    height: 170px;
  }

  .word-tile {
    min-height: 340px;
    max-width: 335px;
    max-height: 525px;
  }
}
